.rt-view {
    font: 14px/22px Arial,Helvetica,sans-serif;
    word-break: break-word;
    word-wrap: break-word;
    z-index: 501;
    width: 100%;
    min-height: 100%;
    background-color: #f2f2f2;
    overflow: auto;
}
.rt-view .rt-body {
    overflow: hidden;
    text-align: left;
    padding-top: 44px;
}
.rt-view .rt-head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 501;
    height: 44px;
    line-height: 44px;
    font-size: 18px;
    background-color: #ffffff;
    color: #333;
    -webkit-user-select: none;
    user-select: none;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.rt-view .rt-head .rt-actions .c-icon{
    cursor: pointer;
    font-size: 21px;
}

.rt-view .rt-head .rt-back {
    width: 50px;
    height: 44px;
    float: left;
    padding-left: 2px;
    text-align: center;
}
.rt-view .rt-head .rt-center {
    position: absolute;
    left: 90px;
    right: 90px;
    top: 0;
    bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}
.rt-view .rt-head .rt-center .rt-title {
    vertical-align: middle;
}
.rt-view .rt-head .rt-center .rt-subtitle {
    font-size: 14px;
    margin-left: 5px;
    vertical-align: middle;
}
.rt-view .rt-head .rt-actions {
    min-width: 44px;
    height: 44px;
    float: right;
    text-align: center;
    font-size: 16px;
}
.rt-view .rt-head .rt-actions>* {
    margin-right: 15px;
    margin-left: 0;
}
.rt-view .rt-head .rt-actions * {
    vertical-align: middle;
}
